* {
    padding: 0px;
    margin: 0px;
}
section {
    height: 100vh;
}
.gl {
    
    padding-top: 20px;
    background: url(/img/2.jpg) center center no-repeat ;
    
}
.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    margin-right: 100px;
    color: rgb(7, 7, 7);
    font-size: 40px;
    font-weight: 400px;
    letter-spacing: 2.8px;
    text-decoration: none;
}

.menu a:last-child {
    margin-right: 0px;
}
.OSN-text {
    text-align: center;
    margin-top: 170px;
    
}

.OSN-text h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 100px;
}
.OSN-text p {
    color: rgb(8, 12, 248);
    font-size: 40px;
    letter-spacing: 4.2px;
}
.OSN-text button {
    cursor: pointer;
    margin-top: 30px;
    padding: 20px 80px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    background-color: transparent;
    border: 2px solid #000000;
    transition: ease-in .25s all;
}
 
.OSN-text button:hover {
    background-color: #000;
    border-color: #fff;
    color: white;
}
.ddd img{
    height: 400px;
}
.ddd{
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.text-3D {
    text-align-last: center;
}
.text-3D span{
    
    color: black;
    font-size: 25px;
    font-weight: 500px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}
.text-3D p{
    font-size: 25px;
    font-weight: 500px;
    margin-top: 32px;
    margin-bottom: 50px;
    letter-spacing: 3.08px;
}
.ddd button {
    cursor: pointer;
    
    padding: 20px 80px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    background-color: transparent;
    border: 2px solid #000000;
    transition: ease-in .25s all;
}
 
.ddd button:hover {
    background-color: #000;
    border-color: #fff;
    color: white;
}
.Cht img{
    height: 400px;
}
.Cht{
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.text-Cht {
    text-align-last: center;
}
.text-Cht span{
    
    color: black;
    font-size: 25px;
    font-weight: 500px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
}
.text-Cht p{
    font-size: 25px;
    font-weight: 500px;
    margin-top: 32px;
    margin-bottom: 50px;
    letter-spacing: 3.08px;
}
.Cht button {
    cursor: pointer;
    
    padding: 20px 80px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2.52px;
    background-color: transparent;
    border: 2px solid #000000;
    transition: ease-in .25s all;
}
 
.Cht button:hover {
    background-color: #000;
    border-color: #fff;
    color: white;
}
.send{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 150px;
    align-items: center;
}
.send-text h2{
    color: black;
    font-size: 20px;
    font-weight: 500;
    line-height: 41px;
    text-transform: uppercase;
    letter-spacing: 4.2px;
}
.send-text p{
    color: #5b5b5c;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.52px;
}
input{
    margin-right: 40px;
    color: #3a4047;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3.08px;
    padding: 17px 25px;
    border: 2px solid #7a7a7a;
    background: transparent;
}
form button {
    cursor: pointer;
    border: 2px solid #3a4047;
    padding: 17px 50px;
    background-color: #3a4047;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.08px;
    transition: ease-in-out .25s;
}
form button:hover{
    border: 2px solid #3a4047;
    background-color: #ffffff;
    color: #000;
}
.footer{
    text-align: center;
    padding: 60px 0;
    padding-bottom: 30px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 6.12px;
}
.fmenu{
    margin-bottom: 30px;
}
.fmenu a{
    margin-right: 55px;
    color: #000;
    text-decoration: none;
    font-size: 22px;
}
.fmenu a:last-child{
    margin-right: 0;
}